
<div class="page-header">
<h3>Summary</h3>
</div>
<p class="about>">A Systems Engineer with various engineering experience covering Oil & gas ,drilling and exploration ,Instrumentation &control
engineering ,non destructive (NDT) inspection technologies using intelligent tools & telecommunications, specially in the converged networks, IP PBX ,unified communications (UC) and SIP troubleshooting & interoperability.</p>
<div class="page-header">

<h3>Interests</h3>
</div>
<ul>
<li><p>I am strong believer in <strong><em>" Knowlege is Power "</em></strong> </p></li>
<li><p >I love learning new technologies, specially <strong><em>Web development</em></strong></p></li>
</ul>
