
<div class="page-header">
<h3>Contact me</h3>
</div>
<ul>
<li><p><strong><em><a href="http://ca.linkedin.com/pub/kareem-rady/29/438/372/" target="blank">Linkedin</a></em></strong></p></li>
<li><p><strong><em><a href="http://github.com/kareemrady" target="blank">GitHub</a></em></strong></p></li>
</ul>
